.base-color {
  color: #ffad1d;
}

.orange {
  color: #ff6914;
}

.turquoise {
  color: #00e0dd;
}

.red {
  color: red;
}

.burgundy {
  color: #830000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Exo 2", sans-serif;
  cursor: default;
}

.section-title {
  text-transform: uppercase;
  font-size: 2.9rem;
  line-height: 3.5rem;
  font-weight: 900;
  margin-top: 7rem;
  margin-bottom: 3rem;
}
@media screen and (max-width: 564px) {
  .section-title {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1rem;
  }
}

html {
  overflow-x: auto;
  scroll-behavior: smooth;
}
html body #desktop-nav {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 2rem;
  min-height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2.5rem;
  z-index: 3;
}
html body #desktop-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
html body #desktop-nav ul li {
  margin: 0 1rem;
  padding: 0 0.5rem;
}
html body #desktop-nav ul li a {
  cursor: pointer;
  color: black;
  text-decoration: none;
  font-size: 1.25em;
  text-transform: uppercase;
}
html body .mobile-nav {
  display: none;
}
html body .button {
  box-sizing: border-box;
  background-color: #ffad1d;
  font-style: italic;
  border: 4px solid;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 5rem;
  padding: 1.05rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  border-color: #ffad1d;
  color: black;
}
@media screen and (min-width: 564px) {
  html body .button {
    padding: 0.7rem;
    font-size: 1.5rem;
  }
  html body .button:hover {
    background-color: #00e0dd;
    border-color: #00e0dd;
  }
}
html body .button:active {
  border-color: #101111;
}
@media screen and (max-width: 564px) {
  html body .button {
    padding: 0.7rem;
    font-size: 1.5rem;
  }
}
html body article section {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 0 30rem;
}
@media screen and (max-width: 2200px) {
  html body article section {
    padding: 0 15rem;
  }
}
@media screen and (max-width: 1665px) {
  html body article section {
    padding: 0 9rem;
  }
}
@media screen and (max-width: 1375px) {
  html body article section {
    padding: 0 3rem;
  }
}
@media screen and (max-width: 564px) {
  html body article section {
    padding: 0 2rem;
  }
}
html body .perioada-de-inscrieri {
  font-size: 0.9rem;
  color: #ffad1d;
  margin-top: 0.5rem;
  font-style: italic;
}
@media screen and (max-width: 564px) {
  html body .perioada-de-inscrieri {
    font-size: 0.7rem;
  }
}
html body .black-mountain {
  padding: 0;
  position: relative;
  bottom: -0.1rem;
  z-index: -1;
}
html body .black-mountain-reversed {
  padding: 0;
  z-index: -1;
  margin-top: -0.1rem;
}
html body .top-mountains {
  padding: 0;
  top: -20.55rem;
  position: relative;
}
@media screen and (max-width: 1700px) {
  html body .top-mountains {
    top: -15rem;
  }
}
@media screen and (max-width: 1185px) {
  html body .top-mountains {
    top: -11rem;
  }
}
@media screen and (max-width: 845px) {
  html body .top-mountains {
    top: -8rem;
  }
}
@media screen and (max-width: 564px) {
  html body .top-mountains {
    top: -3rem;
  }
}
html body .logo {
  position: absolute;
  top: 2rem;
  left: 1rem;
  z-index: 4;
}
@media screen and (max-width: 564px) {
  html body .logo {
    top: 0;
    width: 100px;
  }
}
html body .Heading {
  color: white;
  background-color: #101111;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 17rem;
}
@media screen and (max-width: 1185px) {
  html body .Heading {
    flex-direction: column;
    justify-content: space-around;
  }
}
@media screen and (max-width: 564px) {
  html body .Heading {
    padding-bottom: 6rem;
  }
}
html body .Heading__black-mountain {
  padding-top: 5rem;
}
@media screen and (max-width: 1185px) {
  html body .Heading__black-mountain {
    padding-top: 9rem;
  }
}
@media screen and (max-width: 564px) {
  html body .Heading__black-mountain {
    padding-top: 7rem;
  }
}
html body .Heading__right {
  margin-left: 11rem;
  z-index: 2;
  margin-bottom: 4rem;
}
@media screen and (max-width: 1470px) {
  html body .Heading__right {
    margin-left: 5rem;
  }
}
@media screen and (max-width: 1185px) {
  html body .Heading__right {
    margin-left: 0;
    margin-top: 4rem;
    margin-bottom: 0;
  }
}
html body .Heading__title {
  display: inline-flex;
  font-family: "Myriad Pro";
  font-weight: 900;
}
html body .Heading__title__hercules {
  font-size: 5rem;
  line-height: 5rem;
  flex: 1;
  margin-right: 1rem;
}
@media screen and (max-width: 1185px) {
  html body .Heading__title__hercules {
    margin-right: -3rem;
  }
}
@media screen and (max-width: 1100px) {
  html body .Heading__title__hercules {
    margin-right: 0.5rem;
  }
}
@media screen and (max-width: 703px) {
  html body .Heading__title__hercules {
    font-size: 4rem;
  }
}
@media screen and (max-width: 564px) {
  html body .Heading__title__hercules {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}
html body .Heading__title__x {
  color: #ffad1d;
  font-size: 12rem;
  line-height: 10rem;
  flex: 1;
  font-weight: 600;
}
@media screen and (max-width: 564px) {
  html body .Heading__title__x {
    font-size: 7rem;
    line-height: 6rem;
  }
}
@media screen and (max-width: 1375px) {
  html body .Heading__title {
    font-size: 4rem;
  }
}
@media screen and (max-width: 850px) {
  html body .Heading__title {
    font-size: 3rem;
  }
}
@media screen and (max-width: 670px) {
  html body .Heading__title {
    font-size: 2rem;
  }
}
html body .Heading__subtitle {
  font-size: 2.25rem;
  line-height: 1.25rem;
}
@media screen and (max-width: 564px) {
  html body .Heading__subtitle {
    font-size: 1.25rem;
    line-height: 0.25rem;
  }
}
html body .Heading__subtitle__colored {
  color: #ffad1d;
  font-weight: 600;
  margin-top: 4rem;
  font-style: italic;
}
@media screen and (max-width: 564px) {
  html body .Heading__subtitle__colored {
    font-weight: 900;
    margin-top: 2rem;
  }
}
html body .Heading__description {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-top: 2rem;
}
@media screen and (max-width: 1185px) {
  html body .Heading__description {
    max-width: 435px;
  }
}
@media screen and (max-width: 703px) {
  html body .Heading__description {
    font-size: 1rem;
  }
}
@media screen and (max-width: 564px) {
  html body .Heading__description {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
html body .Heading__cta {
  text-transform: uppercase;
  font-size: 3rem;
  font-style: italic;
  font-weight: 600;
}
@media screen and (max-width: 564px) {
  html body .Heading__cta {
    font-size: 2rem;
  }
}
html body .Intro__title {
  text-align: center;
  margin-top: -13rem;
}
@media screen and (max-width: 1185px) {
  html body .Intro__title {
    margin-top: -8rem;
  }
}
@media screen and (max-width: 845px) {
  html body .Intro__title {
    margin-top: -6rem;
  }
}
@media screen and (max-width: 564px) {
  html body .Intro__title {
    margin-top: -1rem;
  }
}
html body .Intro__title b {
  color: #ffad1d;
  font-weight: 900;
}
html body .Intro__description {
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
@media screen and (max-width: 564px) {
  html body .Intro__description {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media screen and (max-width: 564px) {
  html body .Intro__description {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
}
html body .Intro__description strong {
  color: #ff6914;
}
html body .Sarbatoreste {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body .Sarbatoreste p {
  font-style: italic;
  text-transform: uppercase;
  text-align: start;
  display: inline;
  margin: 1.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 900;
}
@media screen and (max-width: 564px) {
  html body .Sarbatoreste p {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
html body .Sarbatoreste strong {
  font-size: 2.3rem;
}
@media screen and (max-width: 564px) {
  html body .Sarbatoreste strong {
    font-size: 0.9rem;
  }
}
html body .Sarbatoreste__sarbatoreste {
  font-style: italic;
  text-transform: uppercase;
  text-align: start;
  display: inline;
  margin: 1.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 900;
}
@media screen and (max-width: 564px) {
  html body .Sarbatoreste__sarbatoreste {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
html body .Sarbatoreste__flex {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
html body .Sarbatoreste__flex__1 {
  left: -5rem;
  position: relative;
}
@media screen and (max-width: 564px) {
  html body .Sarbatoreste__flex__1 {
    left: 0;
  }
}
html body .Sarbatoreste__flex__2 {
  left: 1rem;
  position: relative;
}
@media screen and (max-width: 564px) {
  html body .Sarbatoreste__flex__2 {
    left: 0;
  }
}
html body .Sarbatoreste__flex__miscarea {
  position: relative;
  left: -13rem;
}
@media screen and (max-width: 1072px) {
  html body .Sarbatoreste__flex__miscarea {
    left: 0;
  }
}
html body .Sarbatoreste__flex__miscarea strong {
  font-size: 2.5rem;
}
@media screen and (max-width: 564px) {
  html body .Sarbatoreste__flex__miscarea strong {
    font-size: 0.9rem;
  }
}
html body .Sarbatoreste__flex__natura {
  position: relative;
  left: 7rem;
}
@media screen and (max-width: 817px) {
  html body .Sarbatoreste__flex__natura {
    left: 0;
  }
}
@media screen and (max-width: 564px) {
  html body .Sarbatoreste__flex__natura {
    left: 1rem;
  }
}
@media screen and (max-width: 564px) {
  html body .Sarbatoreste__flex__emotia {
    position: relative;
    left: 1rem;
  }
}
html body .Sarbatoreste__flex__emotia strong {
  font-size: 3.25rem;
}
@media screen and (max-width: 564px) {
  html body .Sarbatoreste__flex__emotia strong {
    font-size: 0.9rem;
  }
}
html body .Sarbatoreste__flex__valea-cernei strong {
  font-size: 1.75rem;
}
@media screen and (max-width: 564px) {
  html body .Sarbatoreste__flex__valea-cernei strong {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 564px) {
  html body .Sarbatoreste__flex__revederea {
    position: relative;
    left: 1rem;
  }
}
html body .Sarbatoreste__flex__revederea strong {
  font-size: 2rem;
}
@media screen and (max-width: 564px) {
  html body .Sarbatoreste__flex__revederea strong {
    font-size: 0.9rem;
  }
}
html body .Sarbatoreste__hercules {
  display: inline-flex;
  font-size: 2.3rem;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
}
html body .Sarbatoreste__hercules__maraton {
  line-height: 2.7rem;
  margin-right: 0.5rem;
}
@media screen and (max-width: 564px) {
  html body .Sarbatoreste__hercules__maraton {
    font-size: 0.9rem;
    line-height: 1rem;
  }
}
html body .Sarbatoreste__hercules__x {
  font-size: 6rem;
  line-height: 5rem;
}
@media screen and (max-width: 564px) {
  html body .Sarbatoreste__hercules__x {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
}
html body .floating-nv {
  animation-name: floating-nv;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
html body .floating-sv {
  animation-name: floating-sv;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
html body .floating-ne {
  animation-name: floating-ne;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
html body .floating-circle {
  animation-name: floating-circle;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
@keyframes floating-nv {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(10px, 15px);
  }
  to {
    transform: translate(0, 0px);
  }
}
@keyframes floating-sv {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(-15px, 5px);
  }
  to {
    transform: translate(0, 0px);
  }
}
@keyframes floating-ne {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(10px, -12px);
  }
  to {
    transform: translate(0, 0px);
  }
}
@keyframes floating-circle {
  from {
    -webkit-transform: rotate(0deg) translate3d(6px, 0, 0) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate3d(6px, 0, 0) rotate(-360deg);
  }
}
html body .button-sarbatoreste {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html body .button-sarbatoreste__button {
  background-color: #101111;
  color: white;
  border-color: #101111;
  font-size: 1.5rem;
  padding: 0.5rem 5rem;
}
@media screen and (min-width: 564px) {
  html body .button-sarbatoreste__button:hover {
    background-color: #ffad1d;
    border-color: #ffad1d;
    color: black;
  }
}
html body .button-sarbatoreste__button:active {
  border-color: white;
}
@media screen and (max-width: 564px) {
  html body .button-sarbatoreste__button {
    display: block;
    width: 80%;
    padding: 0.5rem;
    margin-top: 2rem;
  }
}
html body .button-sarbatoreste__perioada-de-inscrieri {
  margin: 0.5rem auto;
}
@media screen and (max-width: 564px) {
  html body .button-sarbatoreste {
    margin-bottom: 2rem;
  }
}
html body .Details {
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: justify;
  background-color: #101111;
  color: white;
  padding-bottom: 9rem;
}
@media screen and (max-width: 564px) {
  html body .Details {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 2rem;
  }
}
html body .Details__title {
  margin-top: 0;
}
@media screen and (max-width: 564px) {
  html body .Details__title {
    margin-top: 3rem;
  }
}
html body .Details__bete {
  position: relative;
  left: -10rem;
}
@media screen and (max-width: 1375px) {
  html body .Details__bete {
    left: -5rem;
  }
}
@media screen and (max-width: 564px) {
  html body .Details__bete {
    width: 170px;
    height: 111px;
    left: -1.5rem;
  }
}
html body .Details__text_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 1000px) {
  html body .Details__text_container {
    flex-direction: column;
    justify-content: space-around;
  }
}
html body .Details__text_container__semi {
  font-weight: 600;
  color: #ffad1d;
}
html body .Details__text_container__maraton {
  font-weight: 600;
  color: #da0000;
}
html body .Details__text_container ul {
  list-style-type: none;
}
html body .Details__text_container__left {
  flex: 1;
}
html body .Details__text_container__right {
  flex: 1;
  margin-left: 9rem;
}
@media screen and (max-width: 1422px) {
  html body .Details__text_container__right {
    margin-left: 6rem;
  }
}
@media screen and (max-width: 1000px) {
  html body .Details__text_container__right {
    margin-left: 0;
  }
}
html body .Trasee {
  padding: 0;
}
html body .Trasee__title {
  margin-top: 5rem;
}
html body .Trasee__padding {
  padding: 0 30rem;
}
@media screen and (max-width: 2200px) {
  html body .Trasee__padding {
    padding: 0 15rem;
  }
}
@media screen and (max-width: 1665px) {
  html body .Trasee__padding {
    padding: 0 9rem;
  }
}
@media screen and (max-width: 1375px) {
  html body .Trasee__padding {
    padding: 0 3rem;
  }
}
@media screen and (max-width: 564px) {
  html body .Trasee__padding {
    padding: 0 2rem;
  }
}
html body .Trasee__flex {
  display: flex;
}
html body .Trasee__shoe {
  height: 400px;
  margin-left: 15rem;
}
@media screen and (max-width: 1475px) {
  html body .Trasee__shoe {
    margin-left: 3rem;
  }
}
@media screen and (max-width: 1050px) {
  html body .Trasee__shoe {
    height: 300px;
  }
}
@media screen and (max-width: 915px) {
  html body .Trasee__shoe {
    height: 143px;
  }
}
@media screen and (max-width: 680px) {
  html body .Trasee__shoe {
    height: 102px;
    position: absolute;
    margin-top: -5rem;
    right: 4rem;
  }
}
@media screen and (max-width: 564px) {
  html body .Trasee__shoe {
    height: 76px;
    margin-left: 1rem;
    margin-top: -3rem;
    right: 2rem;
  }
}
html body .Trasee__shoe__red {
  height: auto;
  width: 410px;
  margin-right: -5rem;
  align-self: flex-start;
}
@media screen and (max-width: 1375px) {
  html body .Trasee__shoe__red {
    margin-right: -1rem;
  }
}
@media screen and (max-width: 1050px) {
  html body .Trasee__shoe__red {
    width: 320px;
  }
}
@media screen and (max-width: 915px) {
  html body .Trasee__shoe__red {
    width: 166px;
  }
}
@media screen and (max-width: 680px) {
  html body .Trasee__shoe__red {
    width: 107px;
  }
}
@media screen and (max-width: 564px) {
  html body .Trasee__shoe__red {
    width: 73px;
    margin-right: 0;
  }
}
html body .Trasee__subtitle {
  font-size: 2.9rem;
  line-height: 3.5rem;
  font-weight: 900;
  margin-top: 1rem;
}
@media screen and (max-width: 564px) {
  html body .Trasee__subtitle {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}
html body .Trasee__description {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
@media screen and (max-width: 564px) {
  html body .Trasee__description {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
html body .Trasee__button {
  box-sizing: border-box;
  background-color: #ffad1d;
  border: 4px solid;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  text-align: center;
  border-color: #ffad1d;
  color: black;
  font-size: 1.1rem;
  padding: 0.25rem 3.75rem;
  font-weight: bold;
  align-self: flex-start;
  margin-bottom: 12rem;
  margin-top: 6rem;
}
@media screen and (min-width: 564px) {
  html body .Trasee__button:hover {
    background-color: #101111;
    border-color: #101111;
    color: #ffad1d;
  }
}
html body .Trasee__button:active {
  border-color: white;
}
@media screen and (max-width: 680px) {
  html body .Trasee__button {
    display: block;
    width: 90%;
  }
}
html body .Trasee__semimaraton__hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: height 0ms 400ms, opacity 400ms 0ms;
}
html body .Trasee__semimaraton__button {
  margin-bottom: 0;
}
@media screen and (max-width: 564px) {
  html body .Trasee__semimaraton__button {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
html body .Trasee__maraton__hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: height 0ms 400ms, opacity 400ms 0ms;
}
html body .Trasee__maraton__button {
  background-color: #da0000;
  color: white;
  border-color: #da0000;
}
html body .Trasee__maraton__button:hover {
  color: white;
}
@media screen and (max-width: 564px) {
  html body .Trasee__maraton__button {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
html body .DespreNoi {
  background-image: url(./assets/svgs/cinesuntem.png);
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
html body .DespreNoi__title {
  margin-bottom: 0;
  margin-top: 7rem;
}
@media screen and (max-width: 564px) {
  html body .DespreNoi__title {
    margin-top: 6rem;
  }
}
html body .DespreNoi__subtitle {
  color: #ff6914;
  margin-top: 0;
  margin-bottom: 11rem;
}
@media screen and (max-width: 1375px) {
  html body .DespreNoi__subtitle {
    margin-bottom: 7rem;
  }
}
@media screen and (max-width: 1050px) {
  html body .DespreNoi__subtitle {
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 564px) {
  html body .DespreNoi__subtitle {
    margin-bottom: 3rem;
  }
}
html body .DespreNoi__description {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 6rem;
}
@media screen and (max-width: 564px) {
  html body .DespreNoi__description {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
@media screen and (max-width: 564px) {
  html body .DespreNoi__description {
    margin-bottom: 2rem;
  }
}
html body .Editii {
  padding-bottom: 2rem;
}
@media screen and (max-width: 564px) {
  html body .Editii {
    padding-bottom: 0;
  }
}
html body .Editii__title {
  margin-bottom: 2rem;
  margin-top: 9rem;
}
@media screen and (max-width: 564px) {
  html body .Editii__title {
    margin-top: 3rem;
    padding-bottom: 0;
  }
}
html body .Editii__pareri {
  display: flex;
  margin-bottom: 6rem;
  font-size: 1rem;
  margin-top: 1.5rem;
  padding: 0 30rem;
}
@media screen and (max-width: 2200px) {
  html body .Editii__pareri {
    padding: 0 15rem;
  }
}
@media screen and (max-width: 1665px) {
  html body .Editii__pareri {
    padding: 0 9rem;
  }
}
@media screen and (max-width: 1375px) {
  html body .Editii__pareri {
    padding: 0 3rem;
  }
}
@media screen and (max-width: 564px) {
  html body .Editii__pareri {
    padding: 0 2rem;
    grid-gap: 1rem;
    line-height: 1.3rem;
    margin-bottom: 2rem;
  }
}
html body .Editii__pareri img {
  max-height: 160px;
}
@media screen and (max-width: 1190px) {
  html body .Editii__pareri img {
    max-height: 90px;
  }
}
@media screen and (max-width: 680px) {
  html body .Editii__pareri img {
    max-height: 74px;
  }
}
@media screen and (max-width: 564px) {
  html body .Editii__pareri img {
    max-height: 40px;
  }
}
@media screen and (max-width: 946px) {
  html body .Editii__pareri__ghilimele__left {
    display: none;
  }
}
html body .Editii__pareri__text {
  text-align: justify;
  margin: 0 6rem;
}
@media screen and (max-width: 680px) {
  html body .Editii__pareri__text {
    margin: 0 4rem;
  }
}
@media screen and (max-width: 946px) {
  html body .Editii__pareri__text {
    margin: 0 2rem 0 0;
  }
}
@media screen and (max-width: 564px) {
  html body .Editii__pareri__text {
    margin: 0 1rem 0 0;
  }
}
html body .Editii__pareri__text b {
  float: right;
  text-align: right;
}
html body .Inscriere {
  background-color: #101111;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
}
@media screen and (max-width: 1106px) {
  html body .Inscriere {
    flex-direction: column;
    justify-content: space-around;
  }
}
html body .Inscriere__title {
  flex: 3;
  margin-top: 0;
}
@media screen and (max-width: 1106px) {
  html body .Inscriere__title {
    margin-bottom: 5rem;
  }
}
html body .Inscriere__description {
  flex: 2;
  margin-bottom: 3rem;
  margin-left: 7rem;
}
@media screen and (max-width: 1106px) {
  html body .Inscriere__description {
    margin-left: 0;
  }
}
html body .Inscriere__description__text {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}
html body .Inscriere__description__step {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
html body .Inscriere__description__step img {
  height: 2.75rem;
  margin-right: 1.5rem;
}
@media screen and (max-width: 564px) {
  html body .Inscriere__description__step img {
    height: 1.7rem;
    margin-right: 1rem;
  }
}
html body .Inscriere__button {
  margin-top: 5rem;
  font-size: 1.5rem;
  padding: 1.2rem;
}
html body .Footer {
  padding: 0;
  background-color: #101111;
  color: white;
}
html body .Footer__contact {
  display: flex;
  justify-content: center;
  margin: 6rem 0;
  font-size: 1.15rem;
  padding: 0 30rem;
}
@media screen and (max-width: 2200px) {
  html body .Footer__contact {
    padding: 0 15rem;
  }
}
@media screen and (max-width: 1665px) {
  html body .Footer__contact {
    padding: 0 9rem;
  }
}
@media screen and (max-width: 1375px) {
  html body .Footer__contact {
    padding: 0 3rem;
  }
}
@media screen and (max-width: 564px) {
  html body .Footer__contact {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 865px) {
  html body .Footer__contact {
    justify-content: space-evenly;
  }
}
html body .Footer__contact a {
  padding: 0 5rem;
  font-weight: 900;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 865px) {
  html body .Footer__contact a {
    padding: 0 3rem;
  }
}
@media screen and (max-width: 607px) {
  html body .Footer__contact a {
    padding: 0 1.5rem;
  }
}
html body .Footer__contact a img {
  width: 32px;
  cursor: pointer;
}
@media screen and (max-width: 1008px) {
  html body #desktop-nav {
    display: none;
  }
  html body .mobile-nav {
    background-color: white;
    position: fixed;
    width: 100%;
    min-height: 63px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.3s linear;
    z-index: 3;
  }
  html body .mobile-nav__burger {
    width: 74px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
    cursor: pointer;
  }
  html body .mobile-nav__burger img {
    cursor: pointer;
  }
  html body .mobile-nav i {
    color: black;
    font-size: 2em;
    margin-left: 10px;
    transition: all 0.3s linear;
  }
  html body .mobile-nav ul {
    position: absolute;
    top: 0px;
    transform: translatex(110vw);
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s linear;
    list-style-type: none;
    z-index: 5;
  }
  html body .mobile-nav ul li {
    width: 100%;
    text-align: center;
    cursor: pointer;
  }
  html body .mobile-nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    cursor: pointer;
  }
  html body .mobile-nav ul li:first-child {
    padding: 5rem 0 1rem 0;
  }
  html body .mobile-nav ul li:not(:last-child):not(:first-child) {
    padding: 1rem 0;
  }
  html body .mobile-nav ul li:last-child {
    padding: 4rem 0 60rem 0;
  }
  html body .mobile-nav__x {
    cursor: pointer;
  }
  html body .mobile-nav__x img {
    cursor: pointer;
  }
}

.lazy {
  display: none;
}

.sliderContainer {
  display: flex;
  position: relative;
  max-height: 100%;
  height: 650px;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0 auto;
  flex-wrap: wrap-reverse;
  overflow: hidden;
  padding-bottom: 6rem;
  padding-top: 9rem;
}
@media screen and (max-width: 946px) {
  .sliderContainer {
    height: 587px;
  }
}
@media screen and (max-width: 795px) {
  .sliderContainer {
    height: 744px;
  }
}
@media screen and (max-width: 564px) {
  .sliderContainer {
    padding-top: 0;
    padding-bottom: 3rem;
    height: 288px;
  }
}

.controls {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-self: flex-end;
  font-size: 24px;
  letter-spacing: 5px;
  font-weight: bold;
  z-index: 2;
  text-transform: uppercase;
  margin-top: 3rem;
  user-select: none;
}

.controls > div {
  align-self: center;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 1px 24px 5px 23px;
  cursor: pointer;
  margin: 0px 15px;
  background-color: transparent;
  color: #202020;
  transition: 0.3s;
  font-family: sans-serif;
  font-weight: 800;
}

.arrow {
  background-color: #303030;
  width: 40px;
  border-radius: 30px;
  height: 3px;
  position: relative;
  cursor: pointer;
}

.arrow:before {
  position: absolute;
  content: "";
  background-color: inherit;
  width: 12px;
  border-radius: 30px;
  height: inherit;
  transform: rotate(40deg);
  display: inline-block;
  right: -3px;
  top: -3px;
  cursor: pointer;
}

.arrow:after {
  position: absolute;
  content: "";
  background-color: inherit;
  width: 12px;
  border-radius: 30px;
  height: inherit;
  transform: rotate(140deg);
  display: inline-block;
  right: -3px;
  top: 3px;
  cursor: pointer;
}

.prev-button,
.next-button {
  display: flex;
  flex-wrap: nowrap;
  cursor: pointer;
}

.prev-button *,
.next-button * {
  align-self: center;
  padding: 0px 8px;
  margin: 5px;
  transition: 0.6s;
  cursor: pointer;
}

.prev-button .arrow {
  transform: scale(-1);
}

.prev-button:hover .arrow:before,
.prev-button:hover .arrow:after {
  width: 0px;
  transition: 0.2s;
}

.prev-button:hover .arrow {
  width: 0px;
  transition: 0.4s;
  margin: 0;
  padding: 0;
}

.prev-button .hoverArrow:before,
.prev-button .hoverArrow:after {
  width: 0px;
  transition: 0.2s;
}

.prev-button .hoverArrow {
  width: 0px;
  transition: 0.4s;
  margin: 0px;
  padding: 0px;
}

.prev-button:hover .hoverArrow:before,
.prev-button:hover .hoverArrow:after {
  width: 12px;
  transition: 0.2s;
}

.prev-button:hover .hoverArrow {
  width: 40px;
  transition: 0.4s;
  margin: 5px;
  padding: 0 8px;
}

.next-button:hover .arrow:before,
.next-button:hover .arrow:after {
  width: 0px;
  transition: 0.2s;
}

.next-button:hover .arrow {
  width: 0px;
  transition: 0.4s;
  margin: 0;
  padding: 0;
}

.next-button .hoverArrow:before,
.next-button .hoverArrow:after {
  width: 0px;
  transition: 0.2s;
}

.next-button .hoverArrow {
  width: 0px;
  transition: 0.4s;
  margin: 0px;
  padding: 0px;
}

.next-button:hover .hoverArrow:before,
.next-button:hover .hoverArrow:after {
  width: 12px;
  transition: 0.2s;
}

.next-button:hover .hoverArrow {
  width: 40px;
  transition: 0.4s;
  margin: 5px;
  padding: 0 8px;
}

.slider {
  display: flex;
  text-align: center;
  margin: 0 auto;
  align-self: flex-start;
  position: relative;
  height: 90%;
  width: 100%;
}

.slider * {
  transition: 0.3s;
}

.active-slide.slide {
  max-height: 700px;
  height: 100%;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}

.slide {
  max-height: 550px;
  max-width: 100%;
  height: 100%;
  user-select: none;
}
.slide img {
  cursor: pointer;
}

.slide img {
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}

.slide {
  align-self: flex-end;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  opacity: 0;
  cursor: grab;
  transition: 0.2s cubic-bezier(0, 0.64, 1, 0.94);
  overflow: hidden;
}

.grabbing *,
.grabbing .active-slide {
  cursor: grabbing !important;
  transition: none !important;
}

.prev-slide.slide,
.next-slide.slide,
.active-slide.slide {
  pointer-events: all;
}

.prev-slide,
.next-slide {
  filter: blur(0.5px);
}

.prev-slide:hover,
.next-slide:hover {
  filter: blur(0px);
}

.prev-slide {
  opacity: 0.6;
  left: 30%;
}

.prev-slide:hover {
  transform: rotate(-16deg) translateX(-60%) translateY(-60%);
  opacity: 1;
  transition: 0.3s cubic-bezier(0, -0.24, 0.17, -0.19);
}

.next-slide:hover {
  transform: rotate(16deg) translateX(-37%) translateY(-40%);
  opacity: 1;
  transition: 0.3s cubic-bezier(0, -0.24, 0.17, -0.19);
}

.next-slide {
  opacity: 0.6;
  left: 70%;
}

.active-slide {
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
  left: 50%;
  opacity: 1;
  transition: 0.2s cubic-bezier(0, 0.64, 1, 0.94);
}

@media screen and (max-width: 1366px) {
  .active-slide.slide {
    max-height: 500px;
  }

  .slide {
    max-height: 400px;
  }

  .controls {
    font-size: 18px;
  }
}
@media screen and (max-width: 600px) {
  .prev-button p, .next-button p {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .active-slide.slide {
    max-height: 500px;
  }

  .slide {
    max-height: 345px;
  }
}
@media screen and (max-width: 420px) {
  .active-slide.slide {
    max-height: 450px;
  }

  .slide {
    max-height: 345px;
  }
}

/*# sourceMappingURL=style.css.map */
