.base-color {
  color: #ffad1d;
}

.orange {
  color: #ff6914;
}

.turquoise {
  color: #00e0dd;
}

.red {
  color: red;
}

.burgundy {
  color: #830000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Exo 2", sans-serif;
  cursor: default;
}

.section-title {
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 3.75rem;
  font-weight: 900;
  margin-top: 9rem;
  margin-bottom: 3rem;
}

html {
  scroll-behavior: smooth;
}
html body #desktop-nav {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 6vh;
  min-height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2.5rem;
  z-index: 3;
}
html body #desktop-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
html body #desktop-nav ul li {
  margin: 0 1rem;
  padding: 0 0.5rem;
}
html body #desktop-nav ul li a {
  cursor: pointer;
  color: black;
  text-decoration: none;
  font-size: 1.25em;
  text-transform: uppercase;
}
html body #mobile-nav {
  display: none;
}
html body .button {
  box-sizing: border-box;
  background-color: #ffad1d;
  font-style: italic;
  border: 4px solid;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
  margin-top: 5rem;
  padding: 1.05rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  border-color: #ffad1d;
  color: black;
}
html body .button:hover {
  background-color: #00e0dd;
  border-color: #00e0dd;
}
html body .button:active {
  border-color: #101111;
}
html body article section {
  width: 100%;
  padding: 0 21rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
@media (max-width: 2200px) {
  html body article section {
    padding: 0 15rem;
  }
}
@media (max-width: 1600px) {
  html body article section {
    padding: 0 9rem;
  }
}
@media (max-width: 1250px) {
  html body article section {
    padding: 0 3rem;
  }
}
html body .perioada-de-inscrieri {
  font-size: 0.9rem;
  color: #ffad1d;
  margin-top: 0.5rem;
  font-style: italic;
}
html body .black-mountain {
  padding: 0;
  position: relative;
  bottom: -0.1rem;
  z-index: -1;
}
html body .black-mountain-reversed {
  padding: 0;
  z-index: -1;
}
html body .top-mountains {
  padding: 0;
  top: -20.55rem;
  position: relative;
}
@media (max-width: 1700px) {
  html body .top-mountains {
    top: -15rem;
  }
}
html body .logo {
  position: absolute;
  top: 3vh;
  left: 1rem;
  z-index: 4;
}
html body .Heading {
  color: white;
  background-color: #101111;
  width: 100%;
  height: 57vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
}
@media (max-width: 1000px) {
  html body .Heading {
    flex-direction: column;
    justify-content: space-around;
    padding-top: 7vh;
  }
}
html body .Heading__black-mountain {
  padding-top: 6vh;
}
html body .Heading__right {
  margin-left: 11rem;
  z-index: 2;
}
@media (max-width: 1000px) {
  html body .Heading__right {
    margin-left: 0;
  }
}
html body .Heading__title {
  display: inline-flex;
  font-family: "Myriad Pro";
}
html body .Heading__title__hercules {
  font-size: 5rem;
  line-height: 5rem;
  flex: 1;
  margin-right: 1rem;
}
html body .Heading__title__x {
  color: #ffad1d;
  font-size: 12rem;
  line-height: 10rem;
  flex: 1;
  font-weight: 600;
}
@media (max-width: 1250px) {
  html body .Heading__title {
    font-size: 4rem;
  }
}
@media (max-width: 850px) {
  html body .Heading__title {
    font-size: 3rem;
  }
}
@media (max-width: 670px) {
  html body .Heading__title {
    font-size: 2rem;
  }
}
html body .Heading__subtitle {
  font-size: 2.25rem;
  line-height: 1.25rem;
}
html body .Heading__subtitle__colored {
  color: #ffad1d;
  font-weight: 600;
  margin-top: 4rem;
  font-style: italic;
}
html body .Heading__description {
  font-size: 1.25rem;
  margin-top: 2rem;
  line-height: 2rem;
}
html body .Heading__cta {
  text-transform: uppercase;
  font-size: 3rem;
  font-style: italic;
  font-weight: 600;
}
html body .Intro__title {
  text-align: center;
  margin-top: -13rem;
}
@media (max-width: 1000px) {
  html body .Intro__title {
    margin-top: -7rem;
  }
}
html body .Intro__title b {
  color: #ffad1d;
  font-weight: 900;
}
html body .Intro__description {
  font-size: 1.25rem;
  line-height: 2rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
html body .Intro__description strong {
  color: #ff6914;
}
html body .Sarbatoreste {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body .Sarbatoreste p {
  font-style: italic;
  text-transform: uppercase;
  text-align: start;
  display: inline;
  margin: 1.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 900;
}
html body .Sarbatoreste strong {
  font-size: 2.3rem;
}
html body .Sarbatoreste__sarbatoreste {
  font-style: italic;
  text-transform: uppercase;
  text-align: start;
  display: inline;
  margin: 1.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 900;
}
html body .Sarbatoreste__flex {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
html body .Sarbatoreste__flex__1 {
  left: -5rem;
  position: relative;
}
html body .Sarbatoreste__flex__2 {
  left: 4rem;
  position: relative;
}
html body .Sarbatoreste__flex__miscarea {
  position: relative;
  left: -13rem;
}
html body .Sarbatoreste__flex__miscarea strong {
  font-size: 2.5rem;
}
html body .Sarbatoreste__flex__natura {
  position: relative;
  left: 7rem;
}
html body .Sarbatoreste__flex__emotia strong {
  font-size: 3.25rem;
}
html body .Sarbatoreste__flex__valea-cernei strong {
  font-size: 1.75rem;
}
html body .Sarbatoreste__flex__revederea strong {
  font-size: 2rem;
}
html body .Sarbatoreste__hercules {
  display: inline-flex;
  font-size: 2.3rem;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
}
html body .Sarbatoreste__hercules__maraton {
  line-height: 2.7rem;
  margin-right: 0.5rem;
}
html body .Sarbatoreste__hercules__x {
  font-size: 6rem;
  line-height: 5rem;
}
html body .floating-nv {
  animation-name: floating-nv;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
html body .floating-sv {
  animation-name: floating-sv;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
html body .floating-ne {
  animation-name: floating-ne;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
html body .floating-circle {
  animation-name: floating-circle;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
@keyframes floating-nv {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(10px, 15px);
  }
  to {
    transform: translate(0, 0px);
  }
}
@keyframes floating-sv {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(-15px, 5px);
  }
  to {
    transform: translate(0, 0px);
  }
}
@keyframes floating-ne {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(10px, -12px);
  }
  to {
    transform: translate(0, 0px);
  }
}
@keyframes floating-circle {
  from {
    -webkit-transform: rotate(0deg) translate3d(6px, 0, 0) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate3d(6px, 0, 0) rotate(-360deg);
  }
}
html body .button-sarbatoreste {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html body .button-sarbatoreste__button {
  background-color: #101111;
  color: white;
  border-color: #101111;
  font-size: 1.5rem;
  padding: 0.5rem 5rem;
}
html body .button-sarbatoreste__button:hover {
  background-color: #ffad1d;
  border-color: #ffad1d;
  color: black;
}
html body .button-sarbatoreste__button:active {
  border-color: white;
}
html body .button-sarbatoreste__perioada-de-inscrieri {
  margin: 0.5rem auto;
}
html body .Details {
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: justify;
  background-color: #101111;
  color: white;
  padding-bottom: 9rem;
}
html body .Details__title {
  margin-top: 0;
}
html body .Details__bete {
  position: relative;
  left: -10rem;
}
html body .Details__text_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  html body .Details__text_container {
    flex-direction: column;
    justify-content: space-around;
  }
}
html body .Details__text_container__semi {
  font-weight: 600;
  color: #ffad1d;
}
html body .Details__text_container__maraton {
  font-weight: 600;
  color: #da0000;
}
html body .Details__text_container ul {
  list-style-type: none;
}
html body .Details__text_container__left {
  flex: 1;
}
html body .Details__text_container__right {
  flex: 1;
  margin-left: 9rem;
}
@media (max-width: 1000px) {
  html body .Details__text_container__right {
    margin-left: 0;
  }
}
html body .Trasee__subtitle {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 900;
}
html body .Trasee__description {
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
html body .Trasee__semimaraton__button {
  align-self: flex-start;
  margin-bottom: 12rem;
}
html body .Trasee__semimaraton__button:hover {
  box-shadow: 0 0 5px 0 #ffad1d inset, 0 0 5px 2px #ffad1d;
}
html body .Trasee__semimaraton__button:active {
  box-shadow: none;
}
html body .Trasee__maraton__button {
  align-self: flex-start;
  background-color: #da0000;
  color: white;
  border-color: #da0000;
  margin-bottom: 9rem;
}
html body .Trasee__maraton__button:hover {
  box-shadow: 0 0 5px 0 #da0000 inset, 0 0 5px 2px #da0000;
}
html body .Trasee__maraton__button:active {
  box-shadow: none;
}
html body .DespreNoi {
  background-image: url(./assets/photos/stoned.jpg);
  box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.6);
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 5rem;
}
html body .DespreNoi__title {
  margin-bottom: 0;
}
html body .DespreNoi__subtitle {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 3rem;
}
html body .DespreNoi__description {
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-bottom: 3rem;
}
html body .DespreNoi__description b {
  font-weight: 600;
  color: #ffad1d;
}
html body .Editii {
  padding-bottom: 9rem;
}
html body .Editii__poze {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
html body .Inscriere {
  background-color: #101111;
  color: white;
  width: 100%;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: row;
}
@media (max-width: 1000px) {
  html body .Inscriere {
    flex-direction: column;
    justify-content: space-around;
  }
}
html body .Inscriere__title {
  flex: 3;
}
html body .Inscriere__description {
  flex: 2;
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-bottom: 3rem;
  margin-top: 4rem;
  font-weight: 600;
  margin-left: 7rem;
}
@media (max-width: 1000px) {
  html body .Inscriere__description {
    margin-left: 0;
  }
}
html body .Inscriere__button {
  margin-top: 4rem;
}
@media (min-width: 700px) and (max-width: 1000px) {
  html body #desktop-nav ul {
    width: 100%;
  }
  html body article h1 {
    font-size: 3em;
  }
}
@media (max-width: 700px) {
  html body #desktop-nav {
    display: none;
  }
  html body #mobile-nav {
    background-color: #000;
    opacity: 0.8;
    position: fixed;
    width: 100%;
    height: 7vh;
    min-height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.3s linear;
    font-family: monospace;
  }
  html body #mobile-nav i {
    color: #fff;
    font-size: 2em;
    margin-left: 10px;
    transition: all 0.3s linear;
  }
  html body #mobile-nav ul {
    position: absolute;
    top: 0px;
    transform: translatex(-100vw);
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s linear;
  }
  html body #mobile-nav ul li {
    width: 100%;
    text-align: center;
  }
  html body #mobile-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
  }
}

/*# sourceMappingURL=style.css.map */
