$breakpoint-1: 1000px;

$base-color: #ffad1d;
$orange: #ff6914;
$turquoise: #00e0dd;
$red: #da0000;
$burgundy: #830000;
$black: #101111;

$description-font-size: 1.2rem;
$description-line-height: 1.5rem;
$title-font-size: 2.9rem;
$title-line-height: 3.5rem;
$smol-text-font-size: 1rem;
$smol-text-line-height: 1.5rem;
$smol-title-font-size: 1.6rem;
$smol-title-line-height: 2.2rem;

$phone-breakpoint: 564px;

.base-color {
	color: $base-color;
}

.orange {
	color: $orange;
}

.turquoise {
	color: $turquoise;
}

.red {
	color: red;
}

.burgundy {
	color: $burgundy;
}

* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family: "Poppins", "Exo 2", sans-serif;
	cursor: default;
}

.section-title {
	text-transform: uppercase;
	font-size: $title-font-size;
	line-height: $title-line-height;
	font-weight: 900;
	margin-top: 7rem;
	margin-bottom: 3rem;

	@media screen and (max-width: $phone-breakpoint) {
		font-size: $smol-title-font-size;
		line-height: $smol-title-line-height;
		margin-bottom: 1rem;
	}
}

html {
	overflow-x: auto;
	scroll-behavior: smooth;

	body {

		a {
			text-decoration: none;
		}

		#desktop-nav {
			background-color: white;
			position: fixed;
			width: 100%;
			height: 2rem;
			min-height: 50px;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding: 2.3rem;
			z-index: 3;
			font-weight: 600;
			ul {
				list-style: none;
				display: flex;
				justify-content: space-around;
				li {
					margin: 0 1rem;
					padding: 0 .5rem;
					a {
						cursor: pointer;
						color:black;
						text-decoration: none;
						font-size: 1.25em;
						text-transform: uppercase;
					}
				}
			}
		}

		.mobile-nav {
			display: none;
		}

		.button {
			box-sizing: border-box;
			background-color: $base-color;
			font-style: italic;
			border: 4px solid;
			cursor: pointer;
			display: flex;
			align-self: center;
			font-size: 2rem;
			line-height: 2rem;
			padding: 1.05rem;
			text-decoration: none;
			text-align: center;
			text-transform: uppercase;
			font-weight: 900;
			border-color: $base-color;
			color: black;

			&:hover {
				background-color: $turquoise;
				border-color: $turquoise;
			}

			@media screen and (max-width: $phone-breakpoint) {
				padding: .7rem;
				font-size: 1.5rem;

				&:hover {
					background-color: $base-color;
					border-color: $base-color;
				}
			}

			&:active {
				border-color: $black;
			}

			@media screen and (max-width: $phone-breakpoint) {
				padding: .7rem;
				font-size: 1.5rem;
			}
		}

		article {
			section {
				width:100%;
				// height:100vh;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				display: flex;
				flex-direction: column;
				
				// page-padding
				padding: 0 30rem;
				@media screen and (max-width:2200px) {
					padding: 0 15rem;
				}

				@media screen and (max-width:1665px) {
					padding: 0 9rem;
				}

				@media screen and (max-width:1375px) {
					padding: 0 3rem;
				}

				@media screen and (max-width: $phone-breakpoint) {
					padding: 0 2rem;
				}
			}
		}

		.perioada-de-inscrieri {
			font-size: .9rem;
			color: $base-color;
			margin-top: .5rem;
			font-style: italic;
			line-height: 1rem;

			@media screen and (max-width: $phone-breakpoint) {
				font-size: .7rem;
				line-height: .75rem;
			}
		}

		.black-mountain {
			padding: 0;
			position: relative;
			bottom: -2px;
			z-index: -1;

			img {
				width: 99.999%;
			}
		}

		.dot {
			max-height: fit-content;
			width: 99%;
		}

		.black-mountain-reversed {
			padding: 0;
			z-index: -1;
			position: relative;
			bottom: 2px;

			img {
				width: 99.999%;
			}
		}

		.top-mountains {
			padding: 0;
			top: -328.8px;
			position: relative;

			@media screen and (max-width:1700px) {
				top: -240px;
			}

			@media screen and (max-width: 1185px) {
				top: -176px;
			}

			@media screen and (max-width: 845px) {
				top: -128px;
			}

			@media screen and (max-width: $phone-breakpoint) {
				top: -48px;
			}

			img {
				width: 99.99999%;
			}
		}

		.top-mountains-footer {
			background-color: $black;
			margin-top: -.1rem;
			width: 99.999%;
		}

		.logo {
			position: absolute;
			top: 2rem;
			left: 1rem;
			z-index: 4;

			@media screen and (max-width: $phone-breakpoint) {
				top: 0;
				left: 0;
				width: 100px;
				height: 103px;
			}
		}

		// Sections
		.Heading {
			color: white;
			// background-image:url( ./assets/photos/cladire.jpg );
			background-color: $black;
			// box-shadow: inset 0 0 0 2000px rgb(2 2 2 / 70%);
			width:100%;
			// background-position: center;
			// background-size: cover;
			// background-repeat: no-repeat;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding-top: 1rem;
			padding-bottom: 17rem;

			@media screen and (max-width: 1185px) {
				flex-direction: column;
				justify-content: space-around;
			}

			@media screen and (max-width: $phone-breakpoint) {
				padding-bottom: 6rem;
			}

			&__black-mountain {
				padding-top: 5rem;

				@media screen and (max-width: 1185px) {
					padding-top: 9rem;
				}

				@media screen and (max-width: $phone-breakpoint) {
					padding-top: 6rem;
				}
			}

			&__right {
				margin-left: 11rem;
				z-index: 2;
				margin-bottom: 4rem;


				@media screen and (max-width: 1470px) {
					margin-left: 5rem;
				}

				@media screen and (max-width: 1185px) {
					margin-left: 0;
					margin-top: 4rem;
					margin-bottom: 0;
				}
			}

			&__title-container {
				text-align: center;

				@media screen and (max-width: 1185px) {
					text-align: left;
				}
			}

			&__title {
				display: table-row;
				font-family: 'Myriad Pro';
				font-weight: 900;
				// text-align: center;
				
				&__hercules {
					display: table-cell;
					vertical-align: top;
					font-size: 5rem;
					width: 428px;
					line-height: 5rem;
					flex: 1;
					margin-right: 1rem;

					@media screen and (max-width: 1185px) {
						margin-right: -3rem;
					}

					@media screen and (max-width: 1100px) {
						margin-right: .5rem;
					}

					@media screen and (max-width: 703px) {
						font-size: 4rem;
						width: 350px;
					}

					@media screen and (max-width: $phone-breakpoint) {
						font-size: 2.5rem;
						line-height: 3rem;
						width: 214px;
					}
				}

				@media screen and (max-width: 1375px) {
					font-size: 4rem;
				}

				@media screen and (max-width: 850px) {
					font-size: 3rem;
				}

				@media screen and (max-width: 670px) {
					font-size: 2rem;
				}

			}

			&__subtitle {
				font-size: 2.25rem;
				line-height: 1.25rem;
				font-weight: 600;

				@media screen and (max-width: $phone-breakpoint) {
					font-size: 1.25rem;
					line-height: 0.25rem;
				}

				&__donut {
					font-size: 2.75rem;
					margin-top: 1rem;
					// text-align: center;

					@media screen and (max-width: 703px) {
						font-size: 1.75rem;
					}

					@media screen and (max-width: $phone-breakpoint) {
						font-size: 1.25rem;
					}
				}

				&__colored {

					margin-top: 3rem;
					color: $base-color;
					// font-weight: 600;
					font-style: italic;
					// text-align: center;

					@media screen and (max-width: 703px) {
						font-size: 1.75rem;
						margin-top: 2rem;
					}

					@media screen and (max-width: $phone-breakpoint) {
						font-size: 1.25rem;
						// font-weight: 900;
						// margin-top: 2rem;
					}

				}
			}

			&__description {
				font-size: 1.8rem;
				line-height: 2rem;
				margin-top: 2rem;
				margin-bottom: 3rem;

				@media screen and (max-width: 1185px) {
					max-width: 435px;
				}

				@media screen and (max-width: 703px) {
					font-size: 1rem;
					line-height: 1.50rem;
				}

				@media screen and (max-width: $phone-breakpoint) {
					font-size: $smol-text-font-size;
					line-height: $smol-text-line-height;
				}
			}

			&__cta {
				text-transform: uppercase;
				font-size: 3rem;
				font-style: italic;
				font-weight: 600;

				@media screen and (max-width: $phone-breakpoint) {
					font-size: 2rem;
				}
			}
		}

		.Intro {

			&__title {
				text-align: center;
				margin-top: -13rem;
				margin-bottom: 4rem;

				@media screen and (max-width: 1185px) {
					margin-top: -8rem;
				}

				@media screen and (max-width: 845px) {
					margin-top: -6rem;
				}

				@media screen and (max-width: $phone-breakpoint) {
					margin-top: -1rem;
				}

				b {
					color: $base-color;
					font-weight: 900;
				}
			}

			&__description {
				font-size: $description-font-size;
				line-height: $description-line-height;
				text-align: center;

				@media screen and (max-width: $phone-breakpoint) {
					font-size: $smol-text-font-size;
					line-height: $smol-text-line-height;
				}

				@media screen and (max-width: $phone-breakpoint) {
					margin-bottom: 2rem;
					margin-top: 1rem;
				}

				strong {
					color: $orange;
				}
			}
		}

		.button-sarbatoreste {
			display: flex;
			flex-direction: column;
			align-items: center;

			a {
				margin-top: 5rem;

				@media screen and (max-width: $phone-breakpoint) {
					margin-top: 2rem;
				}
			}

			&__button {
				background-color: $black;
				color: white;
				border-color: $black;
				font-size: 1.5rem;
				padding: .5rem 5rem;

				&:hover {
					background-color: $base-color;
					border-color: $base-color;
					color: black;
				}

				@media screen and (max-width: $phone-breakpoint) {
					&:hover {
						background-color: $black;
						border-color: $black;
						color: white;
						
					}
				}

				&:active {
					border-color: white;
				}

				@media screen and (max-width: $phone-breakpoint) {
					display: block;
					padding: 0.5rem 2rem;
				}
			}

			&__perioada-de-inscrieri {
				margin: 0.5rem auto;
				color: $orange;
			}

			@media screen and (max-width: $phone-breakpoint) {
				margin-bottom: 2rem;
			}
		}

		.Organizatorii {
			background-color: $black;
			color: white;

			&__title {
				margin-top: 1rem;

				@media screen and (max-width: $phone-breakpoint) {
					margin-top: 3rem;
				}
			}

			&__description {
				font-size: $description-font-size;
				line-height: $description-line-height;
				text-align: center;

				@media screen and (max-width: $phone-breakpoint) {
					font-size: $smol-text-font-size;
					line-height: $smol-text-line-height;
				}

				@media screen and (max-width: $phone-breakpoint) {
					margin-bottom: 2rem;
					margin-top: 1rem;
				}

				strong {
					color: $orange;
				}
			}

			&__left-align {
				text-align: left;
			}

			&__domenii {
				margin-top: 3rem;
			}

			&__list {
				text-align: center;
				list-style-position: inside;
				text-align: left;
			}
		}

		.Details {

			font-size: $description-font-size;
			line-height: 1.5rem;
			text-align: justify;
			background-color: $black;
			color: white;
			padding-bottom: 9rem;

			@media screen and (max-width: $phone-breakpoint) {
				font-size: $smol-text-font-size;
				line-height: $smol-text-line-height;
				padding-bottom: 2rem;
			}

			&__title {
				margin-top: 0;

				@media screen and (max-width: $phone-breakpoint) {
					margin-top: 3rem;
				}
			}

			&__bete {
				position: relative;
				left: -10rem;

				@media screen and (max-width: 1375px) {
					left: -5rem;
				}

				@media screen and (max-width: $phone-breakpoint) {
					width: 170px;
					height: 111px;
					left: -1.5rem;
				}
			}

			&__text_container {
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				@media screen and (max-width: $breakpoint-1) {
					flex-direction: column;
					justify-content: space-around;
				}

				b {
					font-weight: 600;
				}

				&__semi {
					font-weight: 600;
					color: $base-color;
				}

				&__maraton {
					font-weight: 600;
					color: $red;
				}

				ul {
					// padding: 0 5rem;
					list-style-type: none;
					// text-align: center;
				}

				&__left {
					flex: 1;

					@media screen and (max-width: $breakpoint-1) {
						flex: none;
					}
				}

				&__right {
					flex: 1;
					margin-left: 9rem;
					
					@media screen and (max-width: 1422px) {
						margin-left: 6rem;
					}
					
					@media screen and (max-width: $breakpoint-1) {
						margin-left: 0;
						flex: none;
					}

					ul {
						list-style: disc;
						margin-left: 3rem;

						@media screen and (max-width: $breakpoint-1) {
							margin-left: 1rem;
						}
	
					}
				}
			}
		}

		.Trasee {

			padding: 0;

			&__title {
				margin-top: 5rem;
			}

			&__padding {
				// page-padding
				padding: 0 30rem;
				@media screen and (max-width: 2200px) {
					padding: 0 15rem;
				}

				@media screen and (max-width: 1665px) {
					padding: 0 9rem;
				}

				@media screen and (max-width: 1375px) {
					padding: 0 3rem;
				}

				@media screen and (max-width: $phone-breakpoint) {
					padding: 0 2rem;
				}
			}

			&__flex {
				display: flex;
			}

			&__shoe {
				height: 400px;
				margin-left: 15rem;

				@media screen and (max-width: 1475px) {
					margin-left: 3rem;
				}

				@media screen and (max-width: 1050px) {
					height: 300px;
				}

				@media screen and (max-width: 915px) {
					height: 143px;
				}

				@media screen and (max-width: 680px) {
					height: 102px;
					position: absolute;
					margin-top: -5rem;
					right: 4rem;
				}

				@media screen and (max-width: $phone-breakpoint) {
					height: 76px;
					margin-left: 1rem;
					margin-top: -3rem;
					right: 2rem;
				}

				&__red {
					height: auto;
					width: 410px;
					margin-right: -5rem;
					align-self: flex-start;

					@media screen and (max-width: 1375px) {
						margin-right: -1rem;
					}

					@media screen and (max-width: 1050px) {
						width: 320px;
					}

					@media screen and (max-width: 915px) {
						width: 166px;
					}

					@media screen and (max-width: 680px) {
						width: 107px;
					}

					@media screen and (max-width: $phone-breakpoint) {
						width: 73px;
						margin-right: 0;
					}

				}
			}

			&__subtitle {
				font-size: $title-font-size;
				line-height: $title-line-height;
				font-weight: 900;
				margin-top: 1rem;

				@media screen and (max-width: $phone-breakpoint) {
					font-size: $smol-title-font-size;
					line-height: $smol-title-line-height;
				}
			}

			&__description {
				font-size: $description-font-size;
				line-height: $description-line-height;
				margin-top: 3rem;
				margin-bottom: 3rem;

				@media screen and (max-width: $phone-breakpoint) {
					font-size: $smol-text-font-size;
					line-height: $smol-text-line-height;
				}

				b {
					font-weight: 600;
				}

				ul {
					margin-left: 2rem;
					list-style: none;

					li {
						margin-bottom: .5rem;
					}
				}

				a {
					cursor: pointer;
					text-decoration: underline;
				}
			}

			&__button {
				box-sizing: border-box;
				background-color: $base-color;
				border: 4px solid;
				cursor: pointer;
				display: flex;
				text-decoration: none;
				text-align: center;
				border-color: $base-color;
				color: black;
				font-size: 1.1rem;
				padding: .25rem 3.75rem;
				font-weight: bold;
				align-self: flex-start;
				margin-bottom: 12rem;
				margin-top: 6rem;
				
				@media screen and (max-width: $phone-breakpoint) {
					&:hover {
						background-color: $black;
						border-color: $black;
						color: $base-color;
					}
				}

				&:active {
					border-color: white;
				}

				@media screen and (max-width: 680px) {
					display: block;
					width: 90%;
				}
				
			}

			&__semimaraton {
				&__hidden {
					opacity: 0;
					height: 0;
					overflow: hidden;
					transition: height 0ms 400ms, opacity 400ms 0ms;
				}

				&__button {
					margin-bottom: 0;

					&:hover {
						background-color: $turquoise;
						border-color: $turquoise;
						color: black;
					}
				
					@media screen and (max-width: $phone-breakpoint) {
						margin-top: 3rem;
						margin-bottom: 3rem;

						&:hover {
							background-color: $base-color;
							border-color: $base-color;
						}
					}
				}

			}

			&__maraton {
				&__hidden {
					opacity: 0;
					height: 0;
					overflow: hidden;
					transition: height 0ms 400ms, opacity 400ms 0ms;
				}

				&__button {
					background-color: $red;
					color: white;
					border-color: $red;

					&:hover {
						background-color: $black;
						border-color: $black;
						color: white;
					}

					@media screen and (max-width: $phone-breakpoint) {
						margin-top: 3rem;
						margin-bottom: 3rem;

						&:hover {
							background-color: $red;
							border-color: $red;
						}
					}
				}
			}
		}

		.DespreNoi {
			background-image:url( ./assets/svgs/cinesuntem.png );
			width:100%;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			padding-top: 3rem;
			padding-bottom: 5rem;
		
			&__title {
				margin-bottom: 0;
				margin-top: 7rem;

				@media screen and (max-width: $phone-breakpoint) {
					margin-top: 6rem;
				}
			}

			&__subtitle {
				color: $orange;
				margin-top: 0;
				margin-bottom: 11rem;

				@media screen and (max-width: 1375px) {
					margin-bottom: 7rem;
				}

				@media screen and (max-width: 1050px) {
					margin-bottom: 5rem;
				}

				@media screen and (max-width: $phone-breakpoint) {
					margin-bottom: 3rem;
				}
			}

			&__description {
				font-size: $description-font-size;
				line-height: $description-line-height;
				margin-bottom: 6rem;

				@media screen and (max-width: $phone-breakpoint) {
					font-size: $smol-text-font-size;
					line-height: $smol-text-line-height;
				}

				@media screen and (max-width: $phone-breakpoint) {
					margin-bottom: 2rem;
				}
			}
		}

		.Echipa {
			&__title {
				margin-top: 9rem;
				text-align: center;
			}

			&__card-container {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				max-width: 1197px;
				align-self: center;
			}

			&__card {
				padding: 10px;
				margin: 10px;
				background: #eaeaeaad;
				min-height: 327px;

				&__img-container {
					text-align: center;
				}

				&__img{
					width: 160px;
					height: 160px;
					border-radius: 50%;
					margin-top: 20px;
					margin-left: 20px;
					margin-right: 20px;
					margin-bottom: 20px;
				}

				&__author {
					text-align: center;
					font-weight: 600;
				}

				&__job {
					text-align: center;
				}
			}
			  
			  
		}

		.Editii {

			padding-bottom: 2rem;

			@media screen and (max-width: $phone-breakpoint) {
				padding-bottom: 0;
			}

			&__title {
				margin-bottom: 2rem;
				margin-top: 9rem;

				@media screen and (max-width: $phone-breakpoint) {
					margin-top: 3rem;
					padding-bottom: 0;
				}
			}

			&__pareri {
				display: flex;
				font-size: $smol-text-font-size;
				margin-top: $smol-text-line-height;
				margin-bottom: 6rem;

				// page-padding
				padding: 0 30rem;
				@media screen and (max-width: 2200px) {
					padding: 0 15rem;
				}

				@media screen and (max-width: 1665px) {
					padding: 0 9rem;
				}

				@media screen and (max-width: 1375px) {
					padding: 0 3rem;
				}
				
				@media screen and (max-width: $phone-breakpoint) {
					padding: 0 2rem;
					grid-gap: 1rem;
					line-height: 1.3rem;
					margin-bottom: 2rem;
				}

				img {
					max-height: 98px;

					@media screen and (max-width: 1190px) {
						max-height: 71px;
					}

					@media screen and (max-width: $phone-breakpoint) {
						max-height: 27px;
					}
				}

				&__ghilimele {
					&__left {
						@media screen and (max-width: 946px) {
							display: none;
						}
					}
				}

				&__text {
					text-align: justify;
					margin: 0 6rem;

					@media screen and (max-width: 680px) {
						margin: 0 4rem;
					}

					@media screen and (max-width: 946px) {
						margin: 0 2rem 0 0;
					}

					@media screen and (max-width: $phone-breakpoint) {
						margin: 0 1rem 0 0;
					}

					b {
						float: right;
						text-align: right;
					}
				}

			}
		}

		.Participanti {

			&__button {

				margin-bottom: 3rem;

				&:hover {
					background-color: $turquoise;
					border-color: $turquoise;
					color: black;
				}
			
				@media screen and (max-width: $phone-breakpoint) {
					margin-top: 3rem;
					margin-bottom: 3rem;

					&:hover {
						background-color: $base-color;
						border-color: $base-color;
					}
				}
			}

			&__table {
				// display: none;
				opacity: 0;
				margin: 0 auto;
				margin-top: -3rem;

				@media screen and (max-width: 821px) {
					td:nth-child(6), th:nth-child(6) { display: none; }
				}

				@media screen and (max-width: 745px) {
					td:nth-child(5), th:nth-child(5) { display: none; }
				}

				@media screen and (max-width: 528px) {
					td:nth-child(4), th:nth-child(4) { display: none; }
				}

				th, td {
					padding: 3px 8px;
					text-align: left;

					@media screen and (max-width: 528px) {
						padding: 2px 1px;
					}
				}

				td:nth-child(1), th:nth-child(1) {
					width: 200px;
					padding-left: 8px;
				}

				th {
					background-color: $black;
					color: white;
					height: 60px;
					font-weight: 600;
				}

				tr:nth-child(odd) {
					background-color: #e4e2e2;
				}

				tr:nth-child(even) {
					background-color: white;
				}
			}

			&__incarca-button {
				display: none;
				box-sizing: border-box;
				background-color: $black;
				border: 4px solid;
				cursor: pointer;
				text-decoration: none;
				text-align: center;
				font-weight: 600;
				border-color: $black;
				color: white;
				font-size: 1rem;
				padding: .25rem 3.75rem;
				align-self: flex-start;
				margin: auto;
				margin-top: 1rem;

				&:hover {
					background-color: $turquoise;
					border-color: $turquoise;
					color: black;
				}
				
				@media screen and (max-width: $phone-breakpoint) {
					&:hover {
						background-color: $black;
						border-color: $black;
						color: white;
					}
				}

				&:active {
					border-color: white;
				}
			}
		}

		.Inscriere {

			background-color: $black;
			color: white;
			width:100%;
			display: flex;
			flex-direction: row;
			padding-top: 2rem;

			@media screen and (max-width: 1106px) {
				flex-direction: column;
				justify-content: space-around;
			}

			&__title {
				flex: 3;
				margin-top: 0;

				@media screen and (max-width: 1106px) {
					margin-bottom: 5rem;
					flex: none;
				}
			}

			&__description {
				flex: 2;
				
				margin-bottom: 3rem;
				margin-left: 7rem;

				@media screen and (max-width: 1106px) {
					margin-left: 0;
					flex: none;
				}

				&__text {
					font-size: $smol-text-font-size;
					line-height: $smol-text-line-height;
					font-weight: 600;
				}

				&__step {
					display: flex;
					align-items: center;
					margin-bottom: 1.5rem;

					img {
						height: 2.75rem;
						margin-right: 1.5rem;

						@media screen and (max-width: $phone-breakpoint) {
							height: 1.7rem;
							margin-right: 1rem;
						}
					}
				}
			}

			&__button {
				margin-top: 5rem;
				font-size: 1.5rem;
				padding: 1.2rem;
			}
		}

		.SaParticipi {
			padding-bottom: 2rem;

			&__title {
				margin-top: 3rem;
				text-align: center;
			}

			&__button {
				margin: 3rem auto;
			}
		}

		.Faq {
			background-color: $black;
			color: white;
			margin-top: -1rem;

			&__title {
				margin-top: 3rem;

				&__bottom {
					margin-top: 2rem;
				}
			}
			
			&__line {
				display: flex;
				flex-direction: row;

				@media screen and (max-width: $phone-breakpoint) {
					margin-bottom: 1rem;
				}

				&__hr {
					content: "";
					width: 100%;
					border-bottom: 3px solid white;
					margin-bottom: 4.5rem;

					@media screen and (max-width: $phone-breakpoint) {
						margin-bottom: 2rem;
					}
					
					&__right {
						margin-left: 2rem;
					}

					&__left {
						margin-right: 2rem;
					}
				}
			}

			&__question {
				display: flex;
				align-items: center;
				font-size: $smol-text-font-size;

				&__title {
					color: $base-color;
					font-weight: 600;
					margin-left: 1rem;
				}

				&__arrow {
					height: 26px;

					@media screen and (max-width: $phone-breakpoint) {
						height: 17px;
					}
				}
			}

			&__answer {
				font-size: $smol-text-font-size;
				margin-left: 4rem;
				margin-bottom: 2rem;
			}
		}

		.Footer {
			padding: 0;
			background-color: $black;
			color: white;
			margin-top: -1rem;

			&__contact {
				display: flex;
				justify-content: center;
				margin: 6rem 0;
				font-size: 1.15rem;

				// page-padding
				padding: 0 30rem;
				@media screen and (max-width: 2200px) {
					padding: 0 15rem;
				}

				@media screen and (max-width: 1665px) {
					padding: 0 9rem;
				}

				@media screen and (max-width: 1375px) {
					padding: 0 3rem;
				}

				@media screen and (max-width: $phone-breakpoint) {
					padding: 0 2rem;
				}

				@media screen and (max-width: 865px) {
					justify-content: space-evenly;
				}

				a {
					padding: 0 5rem;
					font-weight: 900;
					cursor: pointer;
					color: white;

					@media screen and (max-width: 865px) {
						padding: 0 3rem;
					}

					@media screen and (max-width: 607px) {
						padding: 0 1.5rem;
					}

					img {
						width: 32px;
						cursor: pointer;
					}
				}
			}
		}

		@media screen and (max-width: 1008px) {
			#desktop-nav {
				display: none;
			}

			.mobile-nav {
				background-color: white;
				// opacity:.8;
				position: fixed;
				width:100%;
				// height:7vh;
				min-height: 63px;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				transition: all .2s linear;
				z-index: 3;
				font-weight: 600;

				&__burger {
					width: 74px;
					position: absolute;
					right: 0;
					top: 0;
					padding: 1rem;
					cursor: pointer;

					img {
						cursor: pointer;
					}
				}

				i {
					color: black;
					font-size: 2em;
					margin-left: 10px;
					transition:all .2s linear;
				}
				ul {
					position: absolute;
					top: 0px;
					transform: translatex(110vw);
					background-color: white;
					width: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					align-items: center;
					transition: all .2s linear;
					list-style-type: none;
					z-index: 5;

					li {
						width: 100%;
						text-align: center;
						cursor: pointer;
						
						a {
							color: black;
							text-decoration: none;
							font-size: 2em;
							text-transform: uppercase;
							cursor: pointer;
						}
					}

					li:first-child {
						padding: 5rem 0 1rem 0;
					}
	
					li:not(:last-child):not(:first-child)  {
						padding: 1rem 0;
					}

					li:last-child {
						padding: 4rem 0 60rem 0;
					}
				}

				&__x {
					cursor: pointer;

					img {
						cursor: pointer;
					}
				}
			}
		}
	}

	.bolded {
		font-weight: 600;
		display: inline;
	}
}



.lazy{
	display: none;
}

.sliderContainer{
	display: flex;
	position: relative;
	max-height: 100%;
	height: 650px;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
    flex-wrap: wrap-reverse;
    overflow: hidden;
	padding-bottom: 6rem;
	padding-top: 9rem;

	
	// @media screen and (max-width: 946px) {
	// 	height: 587px;
	// }

	// @media screen and (max-width: 795px) {
	// 	height: 744px;
	// }

	@media screen and (max-width: $phone-breakpoint) {
		height: 335px;
	}

	@media screen and (max-width: $phone-breakpoint) {
		padding-top: 0;
		padding-bottom: 3rem;
		// height: 288px;
	}
}

.controls{
	position: relative;
	margin: 0 auto;
	display: flex;
	align-self: flex-end;
	font-size: 24px;
	letter-spacing: 5px;
	font-weight: bold;
	z-index: 2;
	text-transform: uppercase;
	margin-top: 3rem;
	user-select: none;
}

.controls > div{
	align-self: center;
	width: 100%;
	height: auto;
	text-align: center;
	padding: 1px 24px 5px 23px;
	cursor: pointer;
	margin: 0px 15px;
	background-color: transparent;
	color: #202020;
	transition: 0.3s;
	font-family: sans-serif;
	font-weight: 800;
}

.arrow{
	background-color: #303030;
	width: 40px;
	border-radius: 30px;
	height: 3px;
	position: relative;
	cursor: pointer;
}

.arrow:before{
	position: absolute;
	content: "";
	background-color: inherit;
	width: 12px;
	border-radius: 30px;
	height: inherit;
	transform: rotate(40deg);
	display: inline-block;
	right: -3px;
	top: -3px;
	cursor: pointer;
}

.arrow:after{
	position: absolute;
	content: "";
	background-color: inherit;
	width: 12px;
	border-radius: 30px;
	height: inherit;
	transform: rotate(140deg);
	display: inline-block;
	right: -3px;
	top: 3px;
	cursor: pointer;
}

.prev-button,
.next-button{
	display: flex;
	flex-wrap: nowrap;
	cursor: pointer;
}

.prev-button *,
.next-button *{
	align-self: center;
	padding: 0px 8px;
	margin: 5px;
	transition: 0.6s;
	cursor: pointer;
}

.prev-button .arrow{
	transform: scale(-1);
}

.prev-button:hover .arrow:before,
.prev-button:hover .arrow:after{
	width: 0px;
	transition: 0.2s;
}

.prev-button:hover .arrow{
	width: 0px;
	transition: 0.4s;
	margin: 0;
	padding: 0;
}

.prev-button .hoverArrow:before,
.prev-button .hoverArrow:after{
	width: 0px;
	transition: 0.2s;
}

.prev-button .hoverArrow{
	width: 0px;
	transition: 0.4s;
	margin: 0px;
	padding: 0px;
}

.prev-button:hover .hoverArrow:before,
.prev-button:hover .hoverArrow:after{
	width: 12px;
	transition: 0.2s;
}

.prev-button:hover .hoverArrow{
	width: 40px;
	transition: 0.4s;
	margin: 5px;
	padding: 0 8px;
}

.next-button:hover .arrow:before,
.next-button:hover .arrow:after{
	width: 0px;
	transition: 0.2s;
}

.next-button:hover .arrow{
	width: 0px;
	transition: 0.4s;
	margin: 0;
	padding: 0;
}

.next-button .hoverArrow:before,
.next-button .hoverArrow:after{
	width: 0px;
	transition: 0.2s;
}

.next-button .hoverArrow{
	width: 0px;
	transition: 0.4s;
	margin: 0px;
	padding: 0px;
}

.next-button:hover .hoverArrow:before,
.next-button:hover .hoverArrow:after{
	width: 12px;
	transition: 0.2s;
}

.next-button:hover .hoverArrow{
	width: 40px;
	transition: 0.4s;
	margin: 5px;
	padding: 0 8px;
}

.slider{
	display: flex;
	text-align: center;
	margin: 0 auto;
	align-self: flex-start;
	position: relative;
	height: 90%;
	width: 100%;

	@media screen and (max-width: 946px) {
		height: 80%;
	}

	@media screen and (max-width: $phone-breakpoint) {
		height: 74%;
	}
}

.slider *{
	transition: 0.3s;
}

.active-slide.slide{
	max-height: 700px;
	height: 100%;
	box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}

.slide{
	max-height: 550px;
	max-width: 100%;
	height: 100%;
	user-select: none;

	img {
		cursor: pointer;
	}
}

.slide img{
	max-height: 100%;
	width: auto;
	height: auto;
	object-fit: cover;
}

.slide{
	align-self: flex-end;
	pointer-events: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;
	opacity: 0;
	cursor: grab;
	transition: 0.2s cubic-bezier(0,.64,1,.94);
	overflow: hidden;
}

.grabbing *,
.grabbing .active-slide{
	cursor: grabbing !important;
	transition: none !important;
}

.prev-slide.slide, 
.next-slide.slide, 
.active-slide.slide{
	pointer-events: all;
}

.prev-slide, 
.next-slide{
	filter: blur(0.5px);
}

.prev-slide:hover, 
.next-slide:hover{
	filter: blur(0px);
}

.prev-slide{
	opacity: 0.6;
	left: 30%;
}

.prev-slide:hover{
	transform: rotate(-16deg) translateX(-60%) translateY(-60%);
	opacity: 1;
	transition: 0.3s cubic-bezier(0,-0.24,.17,-0.19);
}

.next-slide:hover{
	transform: rotate(16deg) translateX(-37%) translateY(-40%);
	opacity: 1;
	transition: 0.3s cubic-bezier(0,-0.24,.17,-0.19);
}

.next-slide{
	opacity: 0.6;
	left: 70%;
}

.active-slide{
	box-shadow: 0px 0px 8px 5px rgb(0 0 0 / 20%);
	z-index: 2;
	left: 50%;
	opacity: 1;
	transition: 0.2s cubic-bezier(0,.64,1,.94);
}

@media screen and (max-width: 1366px){

	.active-slide.slide{
		max-height: 500px;
	}

	.slide{
		max-height: 400px;
	}

	.controls{
		font-size: 18px;
	}

}

@media screen and (max-width: 600px){

	.prev-button p, .next-button p{
		display: none;
	}

}

@media screen and (max-width: 480px){

	.active-slide.slide{
		max-height: 500px;
	}

	.slide{
		max-height: 345px;
	}

}

@media screen and (max-width: 420px){

	.active-slide.slide{
		max-height: 450px;
	}

	.slide{
		max-height: 345px;
	}

}


.all-team-cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
  }
  

  
//   h1{
// 	font-weight: 800;
// 	font-size: 2rem;
// 	letter-spacing: 2px;
// 	text-indent: 10px;
//   }
  
//   @media screen and (max-width: 768px) {
// 	.column {
// 	  width: 100%;
// 	  height: auto;
// 	}
//   }
//   @media screen and (max-width: 1024px) {
// 	.column {
// 	  width: 100%;
// 	  height: auto;
// 	}
//   }
//   @media screen and (max-width: 1280px) {
// 	.column {
// 	  width: 100%;
// 	  height: auto;
// 	}
//   }